.ramda-body{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    font-family: 'Roboto', sans-serif;
}

.title{
margin-top: 63px;
margin-left: 100px;
}
.ramda-title{
    font-size: 80px;
}
.blue-ramda{
    color: #4BCAFF;
}

.header-wrap{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    background-color: #35444F;
}

.haeder-menu{
    display: flex;
    list-style-type: none;

}
.header-item{
    text-align: center;
    padding: 23px 35px 20px 35px;
    border-left: solid 1px white;
    border-right: solid 1px white;
    color: white;
    background-color: #35444F;
    font-size: 24px;
}

.header-item:hover{
background-color: #222F3A;
}

.content{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.sidebar-wrap{
    width: 344px;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
}

.sidebar-items{
    font-size: 27px;
    color: #485863;
    padding: 26px 82px 24px 44px;
}

.sidebar-items:hover{
    padding: 26px 78px 24px 38px;
    background-color: #DBDBDB;
    color: black;
}


.img-wrap{
    border: solid 1px;
}

.ramda-img{
    padding: 75px 268px 73px 297px;
    width: 320px;
    height: 381px;
}

.ramda-img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.ramda-paragraph{
    font-size: 18px;
    margin-top: 37px;
    width: 885px;
}

.ramda-footer{
    margin-top: 51px;
    background-color: #B4B7B9;
    padding-left: 30px;
}

.footer-menu{
    display: flex;
}

.footer-item{
    font-size: 28px;
    padding: 20px 10px 20px 10px;
}

.footer-item:hover{
    color: #3181A6;
    text-decoration: underline;
}

.footer-item-subscribe{
    font-size: 28px;
    padding: 20px 40px 20px 124px;
}