.body{
    box-sizing: border-box;
    margin: 0 auto;
    background-image: url(../img/background\ 1.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    min-height: 90vh;
}

.content{
    margin: 0 auto;
    width: 1030px;
    margin-top: 47px;
}

.site-header{
    display: flex;
}

.logo{
    display: flex;
    align-items: flex-end;
    color: white;
}

.logo:hover{
    color: #F26522;
}

.img-logo{
    background-image: url(../img/logo3.png);
    background-size: 53px 47px;
    width: 53px;
    height: 47px;
    margin-bottom: 3px;
}

.logo:hover .img-logo{
    background-image: url(../img/logo2.png);
    background-size: 53px 47px;
}


.fraze{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}


.f-word{
    font-size: 29px;
    -webkit-text-stroke: medium;
}

.s-word{
    font-size: 18px;
    -webkit-text-stroke: medium;
}

.info{
  display: flex;
  flex-direction: column;
  margin-left: 626px;
}


.email{
    color: white;
    font-size: 21px;
}

.phone{
    color: white;
    font-size: 21px;
    text-align: end;
    margin-top: 19px;
}

.email:hover{
    color: #F26522;
}

.phone:hover{
    color: #F26522;
}

.cards{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 57px;
    justify-content: space-between;
    margin-top: 17px;
}

.card-item{
width: 300px;
height: 220px;
}

.card-desc{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.card-wrap:hover .card-desc{
    color: tomato;
}

.hov-card{
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 294px;
    padding-bottom: 12px;
    padding-right: 23px;
    background-color: #F26522;
    opacity: 0;
}

.hov-card2{
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 614px;
    padding-bottom: 12px;
    padding-right: 24px;
    background-color: #F26522;
    opacity: 0;
}

.card-wrap:hover .hov-card2{
    opacity: 1;
}

.card-wrap:hover .hov-card{
    opacity: 1;
}

.price-wrap{
margin-left: 16px;
height: 31px;
}

.from{
    font-size: 10px;
    color: white;
}

.price{
    font-size: 20px;
    color: white;
}

.details{
margin-left: 128px;
margin-top: 29px;
font-size: 14px;
color: white;
}

.details::after{
    content: ">";
    margin-left: 16px;
}

